.content {
  width: 550px;
  background-color: #fff;
  position: relative;
  left: 25%;
  top: 20%;
  margin-left: -310px;
  border-radius: 5px;
  border: #ccc;
  padding: 15px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

/*# sourceMappingURL=style.css.map */
