:root {
    --topBar: 50px;
    --yellow: #FFF159;
    --bg: #EBEBEB;
    --black: #000;
    --gray3: #333;
    --grayC: #CCC;
    --grayEA: #EAEAEA;
    --gray8F: #8F8F8F;
    --black2: rgba(0, 0, 0, .2);
    --black1: rgba(0, 0, 0, .1);
    --white: #fff;
    --blue: #3483FA;
    --green: #39B54A;

    --green00b: #00b262;
    --gray4A: #4A564C;
    --gray4A30: lighten(#4A564C, 30%)


}